## Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
.nuget/
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Rider
.idea/
*.sln.iml

## VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Publish results
*.Publish.xml
*.azurePubxml
*.pubxml
!*.[Pp]ubxml.user

## Misc
*.swp
*~
.project
.classpath
.settings/
*.lock.json
launchSettings.json
appsettings.Development.json
appsettings.Local.json
